.table {
  width: 100%;
  border-spacing: 0px;
}

tbody:before {
  content: '-';
  display: block;
  line-height: 1em;
  color: transparent;
}

th {
  margin-bottom: 16px;
  padding: 16px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  align-items: baseline;
  /* &:first-child {
    border-left: 1px solid gray;
  }
  &:last-child {
    border-right: 1px solid gray;
  } */
}
td {
  padding: 1rem;
}

.table_header {
  margin-bottom: 16px;
}
.table_header_row {
  background-color: white;
  align-items: center;
}

.table_row_data {
  display: flex;
  justify-content: center;
}
