.login_wrapper {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login_container {
  height: 100%;
  width: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
